{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/color-'~category.color~'.css') }}" rel="stylesheet">
    {% endblock %}
{% block body %}
    <div class="bg-color breadcrumbs">
        <div class="container">
            <h4>Vous êtes ici:</h4>
            <ul class="breadcrumb">
                <li><a href="{{ path('front_homepage') }}"><i class="fa fa-home"></i></a> <span class="divider">/</span></li>
                {{ (category|treenav)|raw }}
            </ul>
        </div>
    </div>

    <div class="main-contant">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <section class="blog-listing">
                        {% for article in posts %}
                            {% set year =  article.publieddate|date('Y') %}
                            {% set month =  article.publieddate|date('m') %}
                            {% set path = path('front_article',{'locale':app.request.locale ,'slug':article.alias, 'year':year,'month':month,'categoryname':category.slug}) %}
                            <article>
                                <figure>
                                    <a href="{{ path }}"><img src="{{ (article.pic)| imagine_filter('category_page') }}" alt=""></a>
                                </figure>
                                <div class="text">
                                    <div class="post-type">
                                        <a href="{{ path }}" class="type"><i class="fa fa-comments-o"></i></a>
                                        <a href="{{ path }}" class="post-date">
                                            <p>{{ (article.publieddate|date('M'))|trans }}</p>
                                            <p class="post-m">{{ article.publieddate|date('d') }}</p>
                                        </a>
                                    </div>
                                    <h4><a href="{{ path }}">{{ article.title }}</a></h4>
                                    <p>
                                        {{ (article.article)|shortdesc }}
                                    </p>
                                    <a href="#" class="color pull-right">Voir plus</a>
                                </div>
                                <div class="post-footer">
                                   <!-- <ul class="post-comments">
                                        <li><a href="{{ path }}"><i class="fa fa-user"></i>M-Elgendy</a></li>
                                        <li><a href="{{ path }}"><i class="fa fa-heart-o"></i>1205</a></li>
                                        <li><a href="{{ path }}"><i class="fa fa-comment-o"></i>125</a></li>
                                    </ul>-->
                                    <div class="rating">
                                      {#  {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' :  article.id, 'role' : 'IS_AUTHENTICATED_ANONYMOUSLY'} %}
                                        #}<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}

                        {{ knp_pagination_render(posts) }}

                    </section>
                </div>


                {{ render(controller('FrontBundle:Default:sidebar')) }}
            </div>
        </div>
    </div>
{% endblock %}