{# app.request.uri|sitemaps #}<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tounsia.Net {% endblock %}</title>
    <meta name="keywords" content="{% block keyMeta %}{% endblock %}">
    <meta name="description" content="{% block descriptionMeta %}{% endblock %}">
    <meta property="fb:page_id" content="172776089786299" /> 
{% block head %}{% endblock %}
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('public/img/favicon/favicon.ico') }}" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('public/img/favicon/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('public/img/favicon/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('public/img/favicon/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('public/img/favicon/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
              href="{{ asset('public/img/favicon/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
              href="{{ asset('public/img/favicon/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
              href="{{ asset('public/img/favicon/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
              href="{{ asset('public/img/favicon/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{ asset('public/img/favicon/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('public/img/favicon/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('public/img/favicon/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('public/img/favicon/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ asset('public/img/favicon/android-chrome-192x192.png') }}"
              sizes="192x192">



        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,700,700italic,900"
              rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic" rel="stylesheet"
              type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet" type="text/css">

        <!-- Icon Font -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('public/plugins/bootstrap/css/bootstrap.min.css') }}">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('public/css/style.min.css') }}">
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77458398-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<div id="main" class="header-style1">


    {% spaceless %}
        {{ render(controller('FrontBundle:Default:header')) }}

        <div class="container main-wrapper">
            {{ render(controller('FrontBundle:Default:ad728')) }}
            {% block body %}{% endblock %}
            {{ render(controller('FrontBundle:Default:ad728')) }}
        </div>
        {{ render(controller('FrontBundle:Default:footer')) }}

    {% endspaceless %}
</div>

<!-- / Mobile Menu -->
<div id="go-top-button" class="fa fa-angle-up" title="Scroll To Top"></div>

<div class="mobile-overlay" id="mobile-overlay"></div>


{% block javascripts %}
    <script src="{{ asset('public/js/jquery-1.11.2.min.js') }}"></script>

    <script src="{{ asset('public/js/modernizr.min.js') }}"></script>

    <script src="{{ asset('public/plugins/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('public/js/script.min.js') }}"></script>

{% endblock %}
</body>
</html>
