{% spaceless %}<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tounsia.Net {% endblock %}</title>
    <meta name="keywords" content="{% block keyMeta %}{% endblock %}">
    <meta name="description" content="{% block descriptionMeta %}{% endblock %}">
    <meta http-equiv="expires" content="{{ "" | expire  }} 23:59:59 GMT">
    <meta name="google-site-verification" content="AEfGfOJGi8KBet6nqM7nTwgEr8F1jvbEpg5cRNMf4dc" />
    <meta name="msvalidate.01" content="8FDD6AF3216D62A7EDEA7A960F77F886" />
    <meta property="fb:page_id" content="172776089786299" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script data-ad-client="ca-pub-6877324570550574" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9063879079621396",
    enable_page_level_ads: true
  });
</script>
{% block head %}{% endblock %}
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,700,700italic,900"
              rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic" rel="stylesheet"
              type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% stylesheets filter="scssphp" output="assetic/tounsia.css"
        'public/plugins/bootstrap/css/bootstrap.min.css'
        'assets/source/jquery.fancybox.css'
        'public/css/style.min.css'
        'public/css/custom.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6275384075944685",
            enable_page_level_ads: true
        });
    </script>
    <script async custom-element="amp-auto-ads"
            src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-6877324570550574", enable_page_level_ads: true }); </script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=1788355211393444";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div id="main" class="header-style1">

    {% endspaceless %}

    {% spaceless %}
        {{ render(controller('FrontBundle:Default:header')) }}
        <div class="container main-wrapper">
            {{ render(controller('FrontBundle:Default:ad728',{'header':true})) }}
            {% block body %}{% endblock %}
            {{ render(controller('FrontBundle:Default:ad728',{'header':false})) }}
        </div>
        {{ render(controller('FrontBundle:Default:footer')) }}

    {% endspaceless %}    {% spaceless %}

</div>

<div id="go-top-button" class="fa fa-angle-up" title="Scroll To Top"></div>

<div class="mobile-overlay" id="mobile-overlay"></div>

<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-6877324570550574">
</amp-auto-ads>
{% block javascripts %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77458398-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-77458398-1');
    </script>

    {% javascripts filter="?jsqueeze" output="assetic/main.js"
    'public/js/jquery-1.11.2.min.js'
    'public/js/modernizr.min.js'
    'public/plugins/bootstrap/js/bootstrap.js'
    'public/js/script.min.js'
    'assets/lib/jquery.mousewheel-3.0.6.pack.js'
    'assets/source/jquery.fancybox.pack.js'
    %}{#    'public/js/analytics.js'
#}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
{% endspaceless %}
