<footer>

    <div class="top-widgets">
        <div class="container">
            <div class="row">
                <div class="span3">

                    <div class="widget widget-top-rated">
                        <h2 class="h-style">Top Rated News</h2>
                        <ul>

                            <li>
                                <figure>
                                    <a href="#"><img alt="" src="{{ asset('public/images/top-rated1.jpg') }}"></a>
                                </figure>
                                <div class="text">
                                    <a href="#">Speaker Boehner Fails </a>
                                    <p>12 december 2014</p>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <figure>
                                    <a href="#"><img alt="" src="{{ asset('public/images/top-rated2.jpg') }}"></a>
                                </figure>
                                <div class="text">
                                    <a href="#">Speaker Boehner Fails </a>
                                    <p>12 december 2014</p>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <figure>
                                    <a href="#"><img alt="" src="{{ asset('public/images/top-rated3.jpg') }}"></a>
                                </figure>
                                <div class="text">
                                    <a href="#">Speaker Boehner Fails </a>
                                    <p>12 december 2014</p>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="span6">
                    <div class="widget widget-recent-blog">
                        <h2 class="h-style">Recent Blog Post</h2>
                        <ul>

                            <li>
                                <figure>
                                    <a href="#"><img alt="" src="{{ asset('public/images/recent-blog.jpg') }}"></a>
                                </figure>
                                <div class="text">
                                    <a href="#">Fashion and Beauty Items</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ...</p>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <figure>
                                    <a href="#"><img alt="" src="{{ asset('public/images/recent-blog2.jpg') }}"></a>
                                </figure>
                                <div class="text">
                                    <a href="#">Fashion and Beauty Items </a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ...</p>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <figure>
                                    <a href="#"><img alt="" src="{{ asset('public/images/recent-blog3.jpg') }}"></a>
                                </figure>
                                <div class="text">
                                    <a href="#">Fashion and Beauty Items</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ...</p>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="span3">
                    <div class="widget widget-flickr">
                        <h2 class="h-style">Flickr Gallery</h2>
                        <ul>
                            <li><a href="#"><img src="{{ asset('public/images/flickr.jpg') }}" alt=""><p>Andrew</p></a></li>
                            <li><a href="#"><img src="{{ asset('public/images/flickr2.jpg') }}" alt=""><p>Edward</p></a></li>
                            <li><a href="#"><img src="{{ asset('public/images/flickr3.jpg') }}" alt=""><p>Jennifer</p></a></li>
                            <li><a href="#"><img src="{{ asset('public/images/flickr4.jpg') }}" alt=""><p>Nelson</p></a></li>
                            <li><a href="#"><img src="{{ asset('public/images/flickr5.jpg') }}" alt=""><p>Nick</p></a></li>
                            <li><a href="#"><img src="{{ asset('public/images/flickr6.jpg') }}" alt=""><p>Demon</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="testimonials">
        <div class="headlins-bg">
            <div class="container">
                <div id="slider2" class="flexslider">
                    <ul class="slides">
                        <li><p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit. Nam viverra</a> euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p></li>
                        <li><p>Consectetur adipiscing elit. <a href="#">Nam viverra euismod odio, gravida pellentesque urna varius vitae.</a> Sed dui lorem, adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet <a href="#">gravida pellentesque urna varius vitae. Sed dui lorem</a> adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit. Nam viverra</a> euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p></li>
                        <li><p>Consectetur adipiscing elit. <a href="#">Nam viverra euismod odio, gravida pellentesque urna varius vitae.</a> Sed dui lorem, adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet <a href="#">gravida pellentesque urna varius vitae. Sed dui lorem</a> adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit. Nam viverra</a> euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p></li>
                        <li><p>Consectetur adipiscing elit. <a href="#">Nam viverra euismod odio, gravida pellentesque urna varius vitae.</a> Sed dui lorem, adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet <a href="#">gravida pellentesque urna varius vitae. Sed dui lorem</a> adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit. Nam viverra</a> euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p></li>
                        <li><p>Consectetur adipiscing elit. <a href="#">Nam viverra euismod odio, gravida pellentesque urna varius vitae.</a> Sed dui lorem, adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet <a href="#">gravida pellentesque urna varius vitae. Sed dui lorem</a> adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit. Nam viverra</a> euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p></li>
                        <li><p>Consectetur adipiscing elit. <a href="#">Nam viverra euismod odio, gravida pellentesque urna varius vitae.</a> Sed dui lorem, adipiscing </p></li>
                        <li><p>Lorem ipsum dolor sit amet <a href="#">gravida pellentesque urna varius vitae. Sed dui lorem</a> adipiscing </p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container extra-hidden">
            <div id="carousel2" class="flexslider">
                <ul class="slides">
                    <li><img src="{{ asset('public/images/headline1.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline2.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline3.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline4.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline5.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline1.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline2.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline3.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline4.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline5.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline1.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline2.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline3.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline4.png') }}" alt=""></li>
                    <li><img src="{{ asset('public/images/headline5.png') }}" alt=""></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom-widgets">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="widget text-widget">
                        <h2 class="h-style">About Ultimate</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .</p>
                        <p class="phon">Phone: 182 2569 5896</p>
                        <p class="email">Email: <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="1871767e775875777c6d366e7d6a6b6d6b">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></p>
                    </div>
                </div>
                <div class="span4">
                    <div class="widget widget-slider">
                        <h2 class="h-style">Magazine</h2>
                        <div class="flexslider">
                            <ul class="slides">
                                <li><img src="{{ asset('public/images/footer-slider.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('public/images/footer-slider2.jpg') }}" alt=""></li>
                                <li><img src="{{ asset('public/images/footer-slider3.jpg') }}" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="widget widget-signin">
                        <h2 class="h-style">Sign In</h2>
                        <ul>
                            <li>
                                <div class="input-icon user"></div>
                                <input type="text" class="input-block-level">
                            </li>
                            <li>
                                <div class="input-icon password"></div>
                                <input type="password" class="input-block-level">
                            </li>
                            <li><button class="btn-style">login</button></li>
                            <li><a href="#" class="fb-btn">Login with Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {# <div class="copy-rights">
        <p>COPYRIGHT © 2013 By <a href="www.crunchpress.com" target="_blank">CrunchPress.com</a></p>
    </div>#}
</footer>