<header>

    <div class="top-strip">
        <div class="container relative">

            <ul class="top-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Online Store</a></li>
                <li><a href="gallery.html">Gallery</a>
                    <ul>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="gallery-2col.html">2 Column</a></li>
                        <li><a href="gallery-3col.html">3 Column</a></li>
                        <li><a href="gallery-4col.html">4 Column</a></li>
                        <li><a href="gallery-detail.html">Gallery Detail</a></li>
                        <li><a href="gallery-masonry.html">Gallery Masonry Style</a></li>
                    </ul>
                </li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Events</a>
                    <ul>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="events-detail.html">Event Detail</a></li>
                    </ul>
                </li>
                <li><a href="contact-us.html">Contacts</a></li>
            </ul>


            <div class="signup">
                <ul>
                    <!--<li><a href="#">Login</a> Or <a href="#">Create an account</a></li>-->
                    <li><a href="#">Ar</a> <a href="#">Fr</a></li>
                </ul>

            </div>

        </div>
    </div>


    <div class="logo-container">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="{{ asset('public/images/logo.png') }}" alt=""></a>
            </div>
            <div class="add">
                <a href="#"><img src="{{ asset('public/images/add.png') }}" alt=""></a>
            </div>
        </div>
    </div>


    <div class="navigation">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% set i = 0 %}
                            {% set nb  = category|length  %}
                            <li class="first carrot"><a href="{{ path('front_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a> </li>
                            {% for item in category %}
                                <li class="{{ item.color }} {% if i==nb-1 %}last{% endif %}">
                                    <a href="{{ path('front_category',{'locale':'fr','slug':item.slug}) }}">{{ item.title }}</a>
                                    {% if (item.children)|length > 0 %}
                                        <ul class="{{ item.color }}">
                                            {% for entry in item.children %}
                                                <li><a href="">{{ entry.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                                {% set i = i + 1 %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="breaking-news">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h3>Breaking News</h3>
                <div id="b-news">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="search">
                    <input type="text" class="input-block-level" placeholder="search entire store here...">
                    <button>Search</button>
                </div>
            </div>
        </div>
    </div>
</div>