<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-6">
                <a href="index.html" id="logo">
                    <img src="images/logo.png" alt="">
                </a>
            </div>
            <nav class="col-md-9 col-sm-7 col-xs-6">
                <a class="np-toggle-switch np-toggle-switch-nxp open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu" id="main-menu">
                    <div id="header_menu">
                        <img src="images/logo-menu.png" alt="">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <li class="submenu">
                            <a href="{{ path('front_homepage') }}" class=""><i class="icon_house_alt"></i> Home <i class="fa fa-angle-down"></i></a>
                        </li>

                        {% for item in category %}
                        {% set path = path('front_category',{'locale':app.request.locale ,'slug':item.slug}) %}
                        {% if item.slug =="cuisine" %}{% set path = "#" %}{% endif %}
                        {% if (item.children)|length > 0 %}
                        <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu"><i class="ic icon-recipes"></i> Cuisine <i class="fa fa-angle-down"></i></a>
                            <ul>
                                {% for entry in item.children %}
                                    <li><a href="{{ path('front_category',{'locale':app.request.locale ,'slug':entry.slug}) }}">{{ entry.title }}</a></li>

                                {% endfor %}


                            </ul>
                        </li>
                            {% else %}
                                <li><a href="{{ path }}"><i class="ic icon-recipes"></i> {{ item.title }}</a></li>
                        {% endif %}
                        {% endfor %}

                        <li><a href="#"><i class="ic icon-books"></i> Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>


