<header class="header-wrapper clearfix">

    <div class="header" id="header">
        <div class="container">
            <div class="mag-content">
                <div class="row">
                    <div class="col-md-12">

                        <a class="navbar-toggle collapsed" id="nav-button" href="#mobile-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>


                        <nav class="navbar mega-menu">
                            <a class="logo" href="{{ path('front_homepage') }}" title="Tounsia.net" rel="home">
                                Tounsia <span>Net</span>
                            </a>


                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    {% for item in category %}
                                        <li class="dropdown menu-color1">
                                            {% set path = path('front_category',{'locale':app.request.locale ,'slug':item.slug}) %}
                                            {% if item.slug =="cuisine" %}{% set path = "#" %}{% endif %}
                                            <a href="{{ path }}" {% if (item.children)|length > 0 %}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"{% endif %}>{{ item.title }}</a>
                                            {% if (item.children)|length > 0 %}
                                                <ul class="dropdown-menu">
                                                    {% for entry in item.children %}

                                                        <li><a href="{{ path('front_category',{'locale':app.request.locale ,'slug':entry.slug}) }}">{{ entry.title }}</a></li>
                                                    {% endfor %}
                                                       
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    <li class="dropdown menu-color1 bgcolor1"><a href="{{ path('front_recette',{locale:'fr'}) }}">Dbaret el youm</a></li>
                                    <li class="dropdown menu-color1"><a href="{{ path('ramadan',{locale:'fr',year:2018}) }}">Ramadan</a></li>
                                </ul>
                            </div>

                            <div class="header-right">
                                <div class="social-icons">
                                    <a href="https://televza.tounsia.net/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="webTv"><i class="fa fa-television fa-lg"></i></a>
                                    <a href="https://web.facebook.com/tounsiaNet/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="https://twitter.com/TounsiaNet" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="https://plus.google.com/116278865096880981782" rel="publisher" target='_blank' data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="https://www.youtube.com/channel/UC0ZSpRpad48a8M-UUge9Dyg" target='_blank' data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube fa-lg"></i></a>
                                    <a href="{{ path('flux_rss') }}"  data-toggle="tooltip" data-placement="bottom" title="RSS"><i class="fa fa-rss-square fa-lg"></i></a>

                                  
                                </div>
                            </div>

                        </nav>

                     </div>
                </div>
            </div>
        </div>
    </div>

</header>
