{% extends '::base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}

<style>
    .fancybox{display: none;}
</style>
    {% endblock %}
{% block title %}Tounsia.Net Le portail de la femme tunisienne astuce beauté & cuisine{% endblock %}
{% block descriptionMeta %}TounsiaNet : Le portail de la femme tunisienne qui fournit plusieurs recettes, astuce de beauté, santé pour simplifier la vie de la femme tunisienne{% endblock %}
{% block body %}
<a href="#" class="fancybox" id="fancyboxiframe"></a>
<div class="main-content mag-content clearfix">

    {{ render(controller('FrontBundle:Block:top')) }}

    <div class="row main-body" data-stickyparent>
        <div class="col-md-8">
            <section class="admag-block">
                <div class="row">
                    {{ render(controller('FrontBundle:Block:newLeft')) }}
                    {{ render(controller('FrontBundle:Block:cuisine')) }}
                </div>
            </section>

            {{ render(controller('FrontBundle:Block:maman')) }}

        </div>


        {{ render(controller('FrontBundle:Default:sidebar')) }}

        <section class="admag-block">
            <div class="row">
                {{ render(controller('FrontBundle:Block:center',{id:4})) }}
                {{ render(controller('FrontBundle:Block:center',{id:5})) }}
                {{ render(controller('FrontBundle:Block:center',{id:6})) }}

            </div>
        </section>
        {#
                <div class="row" data-stickyparent>
                    <div class="col-md-8">
                        <section class="admag-block">
                            <h3 class="block-title"><span>Business</span></h3>

                            <article class="news-block big-block">
                                <a href="#" class="overlay-link">
                                    <figure class="image-overlay">
                                        <img src="img/big-thumb/big_thumb14.jpg" alt="">
                                    </figure>
                                </a>
                                <a href="#" class="category">
                                    Business
                                </a>
                                <header class="news-details">
                                    <h3 class="news-title">
                                        <a href="#">
                                            3 things I learned about running startup board meetings
                                        </a>
                                    </h3>
                                    <p>As you wish. Dantooine. They're on Dantooine. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. Red Five standing by.</p>
                                    <p class="simple-share">
                                        by <a href="#"><b>John Doe</b></a> -
                                        <span class="article-date"><i class="fa fa-clock-o"></i> 10 minutes ago</span>
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post simple-big clearfix">
                                <div class="simple-thumb">

                                    <a href="#">
                                        <img src="img/medium-thumb/med_thumb3.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <p class="simple-share">
                                        <a href="#">Business</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 23 minutes ago</span>
                                    </p>

                                    <h3>
                                        <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                    </h3>

                                    <p class="excerpt">
                                        Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post simple-big clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <img src="img/medium-thumb/med_thumb1.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <p class="simple-share">
                                        <a href="#">Business</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 49 minutes ago</span>
                                    </p>

                                    <h3>
                                        <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
                                    </h3>

                                    <p class="excerpt">
                                        Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post simple-big clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <span class="play-button"><i class="fa fa-play"></i></span>
                                        <img src="img/medium-thumb/med_thumb2.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <p class="simple-share">
                                        <a href="#">Business</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 1 hour ago</span>
                                    </p>

                                    <h3>
                                        <a href="#">9 Business Leaders Share the Best and Worst Advice They've Heard</a>
                                    </h3>

                                    <p class="excerpt">
                                        Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post simple-big clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <img src="img/medium-thumb/med_thumb54.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <p class="simple-share">
                                        <a href="#">Business</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
                                    </p>

                                    <h3>
                                        <a href="#">Mainland Stock Buyers Hunt Bargains in Hong Kong</a>
                                    </h3>

                                    <p class="excerpt">
                                        Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post simple-big clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <span class="play-button"><i class="fa fa-play"></i></span>
                                        <img src="img/medium-thumb/med_thumb55.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <p class="simple-share">
                                        <a href="#">Business</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
                                    </p>

                                    <h3>
                                        <a href="#">Tickets and prices for Metro and public transport in Milan</a>
                                    </h3>

                                    <p class="excerpt">
                                        Partially, but it also obeys your commands. What?! Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is.
                                    </p>
                                </header>
                            </article>
                        </section>

                        <div class="load-more">
                            <button type="button" class="btn btn-lg btn-block">Load more</button>
                        </div>

                    </div>
                    <div class="col-md-4" data-stickycolumn>
                        <aside class="sidebar">
                            <div class="widget social-links">
                                <h3 class="block-title"><span>Follow us</span></h3>
                                <ul class="social-list">

                                    <li class="social-facebook">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social-gplus">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="social-youtube">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="social-instagram">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="social-pinterest">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li class="social-rss">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <div class="widget adwidget">
                                <a href="#"><img src="img/ban300.jpg" alt=""></a>
                            </div>

                            <div class="widget">
                                <h3 class="block-title"><span>Gallery widget</span></h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="flexslider">
                                            <div class="featured-slider">

                                                <div class="slider-item">
                                                    <img src="img/medium-thumb/slider1.jpg" alt="">
                                                </div>

                                                <div class="slider-item">
                                                    <img src="img/medium-thumb/slider2.jpg" alt="">
                                                </div>

                                                <div class="slider-item">
                                                    <img src="img/medium-thumb/slider3.jpg" alt="">
                                                </div>

                                                <div class="slider-item">
                                                    <img src="img/medium-thumb/slider4.jpg" alt="">
                                                </div>

                                                <div class="slider-item">
                                                    <img src="img/medium-thumb/slider5.jpg" alt="">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>    </div>

                            <div class="widget bannerwidget">
                                <div class="widget-125 clearfix">
                                    <a href="#" target="_blank"><img src="img/theme_forest_125x125.jpg" alt="Banner"></a>
                                    <a href="#" target="_blank"><img src="img/audio_jungle_125x125.jpg" alt="Banner" title="Banner" width="125" height="125" class="visible animated"></a>
                                    <a href="#" target="_blank"><img src="img/code_canyon_125x125.jpg" alt="Banner" title="Banner" width="125" height="125" class="visible animated"></a>
                                    <a href="#" target="_blank"><img src="img/graphic_river_125x125.jpg" alt="Banner" title="Banner" width="125" height="125" class="visible animated"></a>
                                </div>
                            </div>

                        </aside>
                    </div>       </div>
        #}
    </div>


    {% endblock %}
