<div class="col-md-4" data-stickycolumn>
    <aside class="sidebar clearfix">
        {{ render(controller('FrontBundle:Default:ad300')) }}
        <div class="widget searchwidget">
            <form class="searchwidget-form"  method="get" action="{{ path('search_recipe') }}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recherche..." value="" name="s" id="search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
                </div>
            </form>
        </div>
        <div class="widget">
            <div class="fb-page" data-href="https://www.facebook.com/tounsiaNet/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tounsiaNet/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tounsiaNet/">‎Tounsia تونسية‎</a></blockquote></div>
        </div>
        <div class="widget tabwidget">
            <ul class="nav nav-tabs" role="tablist" id="widget-tab">
                <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Populaire</a></li>
                <li role="presentation"><a href="#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab">Nouveau</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-popular">

                    {{ render(controller('FrontBundle:Block:tab',{id:1})) }}

                </div>
                <div role="tabpanel" class="tab-pane" id="tab-recent">

                    {{ render(controller('FrontBundle:Block:tab',{id:2})) }}

                </div>

            </div>
        </div>

        {#<div class="widget tagwidget">
            <h3 class="block-title"><span>Tags</span></h3>
            <ul class="tags-widget">
                <li><a href="#">Windows 10</a></li>
                <li><a href="#">FIFA 2015</a></li>
                <li><a href="#">iPhone 6</a></li>
                <li><a href="#">Flappy Bird</a></li>
                <li><a href="#">World Cup</a></li>
                <li><a href="#">WeChat desktop</a></li>
                <li><a href="#">Clash of Clans</a></li>
                <li><a href="#">Apple Watch</a></li>
                <li><a href="#">Oscar 2015</a></li>
                <li><a href="#">Taken 3</a></li>
                <li><a href="#">Lego</a></li>
            </ul>
        </div>#}
        {# render(controller('FrontBundle:Block:visited')) #}
        {{ render(controller('FrontBundle:Block:categories')) }}

{#<div class="widget adwidget subscribewidget">
    <h3 class="block-title"><span>Subscribe</span></h3>
    <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your email">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Subscribe</button>
  </span>
        </div>
    </form>
</div>#}

</aside>
</div>     </div>
