<div class="span4">
    <div class="sidebar">

        <div class="widget widget-top3">
            <h2>The Top 3</h2>
            <ul>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top1.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <a href="#">Emma Thomson</a>
                        <p>New Post<span>12 minutes ago</span></p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top2.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <a href="#">Emma Thomson</a>
                        <p>New Post<span>12 minutes ago</span></p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top3.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <a href="#">Emma Thomson</a>
                        <p>New Post<span>12 minutes ago</span></p>
                    </div>
                </li>
            </ul>
        </div>


        <div class="widget">
            <div class="widget-new-ad">
                <img src="images/new-ad3.jpg') }}" alt="">
            </div>
        </div>


        <div class="widget widget-side-ads">
            <h2>Side Ads</h2>
            <div class="slider flexslider">
                <ul class="slides">
                    <li><a href="#"><img src="{{ asset('public/images/side-ads.png') }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ asset('public/images/side-ads2.png') }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ asset('public/images/side-ads3.png') }}" alt=""></a></li>
                </ul>
            </div>
        </div>


        <div class="widget widget-top3 widget-categories">
            <h2>Category </h2>
            <ul>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top1.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <p>Mobile Phones</p>
                        <p class="total-numbers">23</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top2.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <p>Android Phones</p>
                        <p class="total-numbers">45</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top2.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <p>Dual Sim Phones</p>
                        <p class="total-numbers">587</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top3.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <p>Dual Sim Phones</p>
                        <p class="total-numbers">587</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top1.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <p>Black Berry</p>
                        <p class="total-numbers">360</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <a href="#"><img src="{{ asset('public/images/top1.png') }}" alt=""></a>
                    </figure>
                    <div class="text">
                        <p>Samsung Phones</p>
                        <p class="total-numbers">496</p>
                    </div>
                </li>
            </ul>
        </div>


        <div class=" widget hot-news">
            <figure class="hover-style">
                <a href="#"><img alt="" src="{{ asset('public/images/hot-news.png') }}"></a>
            </figure>
            <div class="text">
                <h4>Hot News</h4>
                <h5>This concerns her</h5>
                <p>Integer ornare libero nisi. Duis ac magna urna. Suspendisse nec orci vel elit Vivamus posuere dui eget iaculis, ligula arcu ultrices metus, ac venenatis dui leo ut odio. Phasellus a augue congue. ....</p>
                <a href="#" class="color">Full Story</a>
            </div>
            <div class="video-player">
                <iframe src="//player.vimeo.com/video/79505580?badge=0" width="500" height="245"></iframe>
            </div>
            <div class="video-detail">
                <div class="thumb">
                    <figure><img src="{{ asset('public/images/video-thumb.png') }}" alt=""></figure>
                    <h5>Pettor Northan</h5>
                </div>
                <ul class="post-comments">
                    <li><a href="#"><i class="fa fa-heart-o"></i>1205</a></li>
                    <li><a href="#"><i class="fa fa-clock-o"></i>6:33 pm</a></li>
                    <li><a href="#"><i class="fa fa-share-square-o"></i>25</a></li>
                </ul>
            </div>
        </div>


        <div class="widget poll-widget">
            <h2>Poll</h2>
            <div class="inner">
                <p>Is government doing enough to stop female genital mutilation?</p>
                <input id="demo_box_1" class="css-checkbox" type="radio" checked="checked" name="poll"/>
                <label for="demo_box_1" class="css-label">Yes</label>
                <input id="demo_box_2" class="css-checkbox" type="radio" name="poll"/>
                <label for="demo_box_2" class="css-label">No</label>
                <input id="demo_box_3" class="css-checkbox" type="radio" name="poll"/>
                <label for="demo_box_3" class="css-label">Can't Say</label>
                <a href="#" class="pull-left">View Result</a>
                <a href="#" class="pull-right">Vote Now</a>
            </div>
        </div>


        <div class="widget widget-weather">

            <div id="weather"><h2><i class="icon-13"></i> 57°F</h2><ul><li>Austin, TX</li><li class="currently">Cloudy</li><li>N 17 mph</li></ul></div>
        </div>


        <div class="widget">
            <div class="widget widget-tabs">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#products" data-toggle="tab">Popular</a></li>
                    <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tab-pane fade in active" id="products">
                        <figure>
                            <a href="#"><img src="{{ asset('public/images/tabs-img.png') }}" alt=""></a>
                        </figure>
                        <div class="text">
                            <h4>Description</h4>
                            <p>With its beautiful premium leather, lace-up oxford styling, recycled rubber outsoles and 9-inch height, this Earth</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reviews">
                        <figure>
                            <a href="#"><img src="{{ asset('public/images/tabs-img.png') }}" alt=""></a>
                        </figure>
                        <div class="text">
                            <h4>Description</h4>
                            <p>With its beautiful premium leather, lace-up oxford styling, recycled rubber outsoles and 9-inch height, this Earth</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget-newsletter">
            <figure>
                <img alt="" src="{{ asset('public/images/news-lettr.png') }}">
            </figure>
            <div class="text">
                <h4>Email ID</h4>
                <input type="text" class="input-block-level">
                <button class="btn-style">Submit</button>
            </div>
        </div>
    </div>
</div>