<section class="news-text-block">
                    <div class="row">
                        <div class="col-md-12">

                            <h3 class="block-title"><span><a href="#">Maman</a></span></h3>
{% set i = 0 %}
							{% for item in article %}
							{% set year =  item.publieddate|date('Y') %}
                {% set month =  item.publieddate|date('m') %}
                {% set path = path('front_article',{'locale':app.request.locale ,'slug':item.alias, 'year':year,'month':month,'categoryname':item.category.slug}) %}

							{% if i ==0 %}
                            <article class="news-block big-block">
                                <a href="{{ path }}" class="overlay-link">
                                    <figure class="image-overlay">
                                        <img src="{{ (item.pic)| imagine_filter('hug2') }}" alt="">
                                    </figure>
                                </a>
                                <a href="{{ path }}" class="category">
                                   {{ item.category }}
                                </a>
                                <header class="news-details">
                                    <h3 class="news-title">
                                        <a href="{{ path }}">
                                            {{ item.title }}
                                        </a>
                                    </h3>
                                    <p>{{ ((item.article)|shortdesc(300))|raw }}</p>
                                    <p class="simple-share">
                                      {#  by <a href="#"><b>John Doe</b></a> #}
                                        <span class="article-date"><i class="fa fa-clock-o"></i> {{ item.publieddate|date('m/d/Y') }}</span>
                                    </p>
                                </header>
                            </article><!-- News block -->
							{% endif %}
							{% set i = i +1 %}
							{% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        
						{% set i = 0 %}
							{% for item in article %}
							{% set year =  item.publieddate|date('Y') %}
                {% set month =  item.publieddate|date('m') %}
                {% set path = path('front_article',{'locale':app.request.locale ,'slug':item.alias, 'year':year,'month':month,'categoryname':item.category.slug}) %}

							{% if i ==1 or i==2 %}
							<div class="col-md-6">
                            <article class="news-block small-block">
                                <a href="{{ path }}" class="overlay-link">
                                    <figure class="image-overlay">
                                        <img style=" height:280px;" src="{{ (item.pic)| imagine_filter('mode2') }}" alt="">
                                    </figure>
                                </a>
                                <a href="{{ path }}" class="category">
                                    {{ item.category }}
                                </a>
                                <header class="news-details">
                                    <h3 class="news-title">
                                        <a href="{{ path }}">
                                            {{ item.title }}
                                        </a>
                                    </h3>
                                    <p class="simple-share">
                                        <!--by <a href="#"><b>John Doe</b></a> --->
                                        <span class="article-date"><i class="fa fa-clock-o"></i> {{ item.publieddate|date('m/d/Y') }}</span>
                                    </p>
                                </header>
                            </article><!-- News block --></div>
							{% endif %}{% set i = i +1 %}
							{% endfor %}
                        
 </div>

                    <div class="row">
                          
						{% set i = 0 %}
							{% for item in article %}
							{% set year =  item.publieddate|date('Y') %}
                {% set month =  item.publieddate|date('m') %}
                {% set path = path('front_article',{'locale':app.request.locale ,'slug':item.alias, 'year':year,'month':month,'categoryname':item.category.slug}) %}

							{% if i ==3 or i==4 %}
							<div class="col-md-6">
                            <article class="news-block small-block">
                                <a href="{{ path }}" class="overlay-link">
                                    <figure class="image-overlay">
                                        <img style=" height:280px;" src="{{ (item.pic)| imagine_filter('mode2') }}" alt="">
                                    </figure>
                                </a>
                                <a href="{{ path }}" class="category">
                                    {{ item.category }}
                                </a>
                                <header class="news-details">
                                    <h3 class="news-title">
                                        <a href="{{ path }}">
                                            {{ item.title }}
                                        </a>
                                    </h3>
                                    <p class="simple-share">
                                        <!--by <a href="#"><b>John Doe</b></a> --->
                                        <span class="article-date"><i class="fa fa-clock-o"></i> {{ item.publieddate|date('m/d/Y') }}</span>
                                    </p>
                                </header>
                            </article><!-- News block --></div>
							{% endif %}{% set i = i +1 %}
							{% endfor %}

                    </div>

                </section>