{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/color-'~article.category.color~'.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% set year =  article.publieddate|date('Y') %}
    {% set month =  article.publieddate|date('m') %}
    {% set path = path('front_article',{'locale':app.request.locale ,'slug':article.alias, 'year':year,'month':month,'categoryname':article.category.slug}) %}
    <div class="row blog-content" data-stickyparent>
        <div class="col-md-8" data-stickycolumn>

            <article class="post-wrapper clearfix">

                <header class="post-header">

                    <h1 class="post-title">
                        {{ article.title }}
                    </h1><!-- .post-title -->

                    <a href="#" class="category bgcolor2">
                        {{ article.category.title }}
                    </a>

                    <p class="simple-share">

                        <span>
                            <span class="article-date"><i class="fa fa-clock-o"></i> 2 hours ago</span>
                        </span>
                        <span><i class="fa fa-eye"></i> 1349 views</span>

                    </p>

                    <figure class="image-overlay">
                        <img src="{{ asset(article.pic) }}" alt="">{#| imagine_filter('category_page')#}
                    </figure>
                </header><!-- .post-header -->

                <div class="post-content clearfix">
                    {{ article.article|raw }}
                </div><!-- .post-content -->

                <footer class="post-meta">
                   <!-- <div class="tags-wrapper">
                        <ul class="tags-widget clearfix">
                            <li class="trending">TAGS:</li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Wood</a></li>
                            <li><a href="#">Advice</a></li>
                        </ul>
                    </div>--><!-- .tags-wrapper -->

                    <div class="share-wrapper clearfix">
                        <div class="total-shares">
                            <em id="countUp" data-count="267">267</em>
                            <div class="caption">Shares</div>
                        </div>

                        <div class="share-buttons">
                            <a class="social-share facebook" href="#">
                                <i class="fa fa-facebook"></i>
                                <span class="alt-text">Share</span>
                            </a>
                            <a class="social-share twitter" href="#">
                                <i class="fa fa-twitter"></i>
                                <span class="alt-text">Tweet</span>
                            </a>
                            <a class="social-share google-plus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="social-share linked_in" href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a class="social-share pinterest" href="#">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
{#
                    <div class="row">
                        <div class="post-nav-wrapper clearfix">
                            <div class="col-md-6 omega">
                                <div class="previous-post">
                                    <div class="post-nav-label">
                                        <i class="fa fa-angle-left"></i>
                                        Previous post
                                    </div>
                                    <a href="#" class="post-nav-title">4 apps that every smartphone must get right</a>
                                </div>
                            </div>

                            <div class="col-md-6 alpha">
                                <div class="next-post">
                                    <div class="post-nav-label">
                                        Next post
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                    <a href="#" class="post-nav-title">What the Viny "Comeback" Really Looks Like</a>
                                </div>
                            </div>
                        </div><!-- .post-nav-wrapper -->
                    </div>

                    <div class="author-box clearfix">
                        <div class="author-avatar">
                            <a href="page_author.php">
                                <img alt="" src="img/author4.jpg" class="avatar" height="110" width="110">
                            </a>
                        </div>
                        <div class="author-info">
                            <h3><a href="page_author.php">John Doe</a></h3>
                            <p class="author-bio">
                                He is here. All right. Well, take care of yourself, Han. I guess that's what you're best at, ain't it? What?! Don't act so surprised, Your Highness. You weren't on any mercy mission this time.
                            </p>
                            <div class="author-contact">
                                <a href="#"><i class="fa fa-envelope fa-lg" title="Email"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-globe fa-lg" title="Website"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter fa-lg" title="Twitter"></i></a>
                                <a href="#" rel="publisher" target="_blank"><i title="Google+" class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-facebook fa-lg" title="Facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    #}
                </footer>

            </article><!-- .post-wrapper -->

            <div class="related-posts clearfix">
                <h3 class="block-title"><span>Related Posts</span></h3>
                <div class="row">
                    <div class="col-md-6">
                        <article class="news-block small-block">
                            <a href="#" class="overlay-link">
                                <figure class="image-overlay">
                                    <img src="img/big-thumb/big_thumb44.jpg" alt="">
                                </figure>
                            </a>
                            <a href="#" class="category">
                                Fashion
                            </a>
                            <header class="news-details">
                                <h3 class="news-title">
                                    <a href="#">
                                        5 Spring Outfits For Under $200
                                    </a>
                                </h3>
                                <p class="simple-share">
                                    by <a href="#"><b>John Doe</b></a> -
                                    <span class="article-date"><i class="fa fa-clock-o"></i> 4 hours ago</span>
                                </p>
                            </header>
                        </article>
                    </div>

                    <div class="col-md-6">
                        <article class="news-block small-block">
                            <a href="#" class="overlay-link">
                                <figure class="image-overlay">
                                    <img src="img/big-thumb/big_thumb42.jpg" alt="">
                                </figure>
                            </a>
                            <a href="#" class="category">
                                Travel
                            </a>
                            <header class="news-details">
                                <h3 class="news-title">
                                    <a href="#">
                                        6 Tips Before Traveling Internationally
                                    </a>
                                </h3>
                                <p class="simple-share">
                                    by <a href="#"><b>John Doe</b></a> -
                                    <span class="article-date"><i class="fa fa-clock-o"></i> 46 minutes ago</span>
                                </p>
                            </header>
                        </article>
                    </div>
                </div><!-- .row -->

                <div class="row">
                    <div class="col-md-6">
                        <article class="news-block small-block">
                            <a href="#" class="overlay-link">
                                <figure class="image-overlay">
                                    <span class="play-button"><i class="fa fa-play"></i></span>
                                    <img src="img/big-thumb/big_thumb47.jpg" alt="">
                                </figure>
                            </a>
                            <a href="#" class="category">
                                Food
                            </a>
                            <header class="news-details">
                                <h3 class="news-title">
                                    <a href="#">
                                        How to Make Perfect Homemade Pizza
                                    </a>
                                </h3>
                                <p class="simple-share">
                                    by <a href="#"><b>John Doe</b></a> -
                                    <span class="article-date"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                                </p>
                            </header>
                        </article>
                    </div>

                    <div class="col-md-6">
                        <article class="news-block small-block">
                            <a href="#" class="overlay-link">
                                <figure class="image-overlay">
                                    <img src="img/big-thumb/big_thumb48.jpg" alt="">
                                </figure>
                            </a>
                            <a href="#" class="category">
                                Advice
                            </a>
                            <header class="news-details">
                                <h3 class="news-title">
                                    <a href="#">
                                        10 Tips for Taking Great Outdoor Photos
                                    </a>
                                </h3>
                                <p class="simple-share">
                                    by <a href="#"><b>John Doe</b></a> -
                                    <span class="article-date"><i class="fa fa-clock-o"></i> 13 hours ago</span>
                                </p>
                            </header>
                        </article>
                    </div>
                </div><!-- .row -->

            </div><!-- .related-post -->
            <!-- Mid ad -->
            <div class="row">
                <div class="col-md-12">
                    <div class="ad728-wrapper mid-wrapper">
                        <a href="#">
                            <img src="img/ban728.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div><!-- End Left big column -->
        {{ render(controller('FrontBundle:Default:sidebar')) }}

    </div><!-- .blog-content -->


{% endblock %}