{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{% block block %}
    <div class="box box-success">

        <div class="box-header">
            <h3 class="box-title"> {{ title }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>

                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div id="week-chart" style="height: 225px;"></div>
        </div>

    </div>
    <script>
        $(function () {
            var data = [];
            var datatoday = [];
            {% set i =0 %}
            {% for key,item in final %}
            data.push([{{ key }}, {{ item/10 }}]);
            {% set i = i+1 %}
            {% endfor %}
            {% set i =0 %}
            {% for key,item in today %}
            datatoday.push([{{ key }}, {{ item }}]);
            {% set i = i+1 %}
            {% endfor %}
            var line_data1 = {
                data: data,
                color: "#f39c12"
            };
            var line_data2 = {
                data: datatoday,
                color: "#00a65a"
            };
            $.plot("#week-chart", [line_data1, line_data2], {
                grid: {
                    hoverable: true,
                    borderColor: "#f3f3f3",
                    borderWidth: 1,
                    tickColor: "#f3f3f3"
                },
                series: {
                    shadowSize: 0,
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                lines: {
                    fill: false,
                    color: ["#f56954"]
                },
                yaxis: {
                    show: true,
                },
                xaxis: {
                    show: true
                }
            });
            //Initialize tooltip on hover
            $('<div class="tooltip-inner" id="week-chart-tooltip"></div>').css({
                position: "absolute",
                display: "none",
                opacity: 0.8
            }).appendTo("body");
            $("#week-chart").bind("plothover", function (event, pos, item) {

                if (item) {
                    var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                    $("#week-chart-tooltip").html("heure " + x + " = " + y)
                            .css({top: item.pageY + 5, left: item.pageX + 5})
                            .fadeIn(200);
                } else {
                    $("#week-chart-tooltip").hide();
                }

            });
        });
    </script>
{% endblock %}