{% extends sonata_block.templates.block_base %}

{% block block %}
    <a class="btn btn-app" href="{{ path('admin_post_post_list') }}">
        <span class="badge bg-yellow">{{ nbposts }}</span>
        <i class="fa fa-newspaper-o"></i> Recettes
    </a>
    <a class="btn btn-app" href="{{ path('admin_post_post_list') }}">
        <span class="badge bg-purple">{{ view }}</span>
        <i class="fa fa-eye"></i> Nombre des vues
    </a>
    <a class="btn btn-app" href="{{ path('admin_post_post_list') }}?filter%5Bcreatedby%5D%5Btype%5D=&filter%5Bcreatedby%5D%5Bvalue%5D={{ app.user.id }}">
        <span class="badge bg-green">{{ mypost }}</span>
        <i class="fa fa-book" aria-hidden="true"></i> Mes Recettes
    </a>
    <a class="btn btn-app" href="{{ path('admin_post_post_list') }}?filter%5Bcreatedby%5D%5Btype%5D=&filter%5Bcreatedby%5D%5Bvalue%5D={{ app.user.id }}">
        <span class="badge bg-red">{{ myview }}</span>
        <i class="fa fa-bar-chart" aria-hidden="true"></i> Mes Vues
    </a>

    <a class="btn btn-app" href="{{ path('admin_post_search_list') }}">
        <span class="badge bg-red">{{ search }}</span>
        <i class="fa fa-bar-chart" aria-hidden="true"></i> Search
    </a>


{% endblock %}