{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}



{% block block %}

    <div class="box box-success">

        <div class="box-header">
            <h3 class="box-title"> {{ title }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>

                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div id="month-user-view" style="height: 225px;"></div>
            <p id="choices" style="float:right; width:100%;"></p>

        </div>

    </div>
    <script>
        $(function() {

            var datasets = {
            {% for key,item in final %}

                "{{ key }}": {
                    label: "{{ key }}",
                    data: [{% set i=0 %}
                        {% for key2,item2 in item %}
                        {% if item2>50 %}
                            [{{ i }}, {{ item2 }}],{% set i=i+1 %}
                        {% endif %}
                        {% endfor %}
                    ]
                },
                {% endfor %}

            };
            var i = 0;
            $.each(datasets, function(key, val) {
                val.color = i;
                ++i;
            });
            var choiceContainer = $("#choices");
            $.each(datasets, function(key, val) {
                choiceContainer.append("<div class='col-md-4'><input type='checkbox' name='" + key +
                        "' checked='checked' id='id" + key + "'></input>" +
                        "<label for='id" + key + "'>"
                        + val.label + "</label></div>");
            });

            choiceContainer.find("input").click(plotAccordingToChoices);

            function plotAccordingToChoices() {

                var data = [];

                choiceContainer.find("input:checked").each(function () {
                    var key = $(this).attr("name");
                    if (key && datasets[key]) {
                        data.push(datasets[key]);
                    }
                });

                if (data.length > 0) {
                    $.plot("#month-user-view", data, {
                        /*yaxis: {
                            min: 0
                        },*/
                        xaxis: {
                            tickDecimals: 0
                        }
                    });
                }
            }

            plotAccordingToChoices();

            // Add the Flot version string to the footer

            $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
        });

    </script>
{% endblock %}